*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-color:  #FCF6F8;
}

#conteudo{
    width: 100%;
    height: 100vh;
    max-width: 1500px;
    margin: auto;
}

.conteudo{
    height: 100%;
}

nav{
    max-width: 1500px;
    width: 100%;
    height: 80px;
    background-color: #FCF6F8; 
    display: flex;
    margin: auto;
}

#menu-logo{
    width: 80%;
    height: 100%;
    display: flex;
    margin-left: 5%;
}

#menu-lista{
    width: 50%;
    margin-top: 30px;
}

#menu-lista li{
    list-style: none;
    display: inline;
    margin-left: 20px;
}

#menu-lista li:hover{
    cursor: pointer;
    background-color: #C9A9AE;
    color: white;
}

#menu-lista a{
    color: black;
    text-decoration: none;
}

header{
    width: 100%;
    height: 700px;
    background-color: #FCF6F8;
}

.header-fundo{
    height: 100%;
    width: 100%;
    padding-top: 5%;
    margin: auto;
    background-image:url('./imagens/portifolio\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 1px solid #C9A9AE;
    justify-content: center;
}

#header-foto{
    width: 40%;
    padding: 5px;
    margin-top:10px;   
    margin-left:10%;
    background-color: #f0f0f0;
}

#header-texto{
    text-align: center;
    margin: auto;
}

header a{
    text-decoration: none;
    color: black;
}

.sobre{
    width: 100%;
}

/* #sobre-img{
    display: flex;
    width: 50%;
    height: 100%;
}

#sobre-img img{
    border-radius: 50%;
    width: 60%;
} */


/* Animação habilidades */
.habilidades{
    background-color: #FCF6F8;
    padding: 9px;
    border-radius: 9px;
    margin: 50px 40px;
    box-shadow: 0 14px 20px;
}

.habilidades h2{
    text-align: center;
}

.habilidades h3{
    margin: 5px;
}

.habilidades li {
    padding: 9px;
    margin: 10px 0;
    list-style: none;
}

.bar{
    background-color: whitesmoke;
    display: block;
    height: 24px;
    border: 1px solid rgb(0, 0, 0.3);
    transition: all 0.3 cubic-bezier(.25, .8, .25, 1);
}

.bar:hover{
    box-shadow: 0 14px 3px rgb(0,0, 0, 0.25), 0 10px 10px rgb(0,0, 0, 0.25);
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, #C9A9AE, rgb(233, 224, 232)100%);
}

.html{
    width: 90%;
    animation: html 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

.css{
    width: 70%;
    animation: css 3s;
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.js{
    width: 50%;
    animation: js 3s;
}

@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

.python{
    width: 60%;
    animation: python 3s;
}

@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

.java{
    width: 40%;
    animation: java 3s;
}

@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}

.competencias{
    background-color: #FCF6F8;
    padding: 9px;
    border-radius: 9px;
    margin: 50px 40px;
    box-shadow: 0 14px 20px;
}

.competencias h2{
    text-align: center;
}

.competencias li{
    padding: 10px;
    font-size: 20px;
}

#baixar{
    margin: auto;
}

#baixar li{
    list-style: none;
    background-color: #C9A9AE;
    border-radius: 24px;
    margin-top: 8px;
}

#baixar a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

#baixar li:hover{
    box-shadow: 0 10px 14px;
    cursor: pointer;
}

.portifolio{
    width: 100%;
    padding: 10px;
    background-color: #E8CFD2;
}

.portifolio button{
    width: 150px;
    height: 30px;
    border-radius: 15px;
}

.portifolio button:hover{
    background-color: #E8CFD2;
    box-shadow: 0 10px 10px;
}

.sobre-projeto{
    width: 80%;
    height: 20vh;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
    justify-content: space-around;
}

.certificados{
    width: 100%;
    height: 55vh;
    padding: 10px;
}

.forms form{
    width: 100%;
    background-color: #C9A9AE;
}

.forms label, input, textarea{
    display: block;
    margin: auto;
    width: 80%;
    padding: 1.25rem;
    font-weight: 500;
}

.forms input, textarea{
    color: white;
    background-color: #E8CFD2;
    border-radius: 0.125rem;
    transition: border-color 0.3s;
    box-shadow: 0.3s;
}

.forms input:hover,input:focus, textarea:hover, textarea:focus{
    outline: none;
    border-color: #f0f0f0;
    box-shadow: 0 0 0 0.3125 black;
}

.forms textarea{
    min-height: 12.5rem;
    resize: vertical;
}

.forms button:hover, button:focus{
    outline: none;
    background-color: #f0f0f0;
}

.forms button:disabled{
    cursor: not-allowed;
    background-color: gray;
}

.forms button{
    display: flex;
    width: 80%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    border: none;
    border-radius: 99px;
    color: black;
    background-color: #E8CFD2;
    cursor: pointer;
    transition: 0.3;
}

.forms p{
    text-align: center;
    margin: auto;
}

.redes i{
    width: 20%;
    font-size: 2rem;
    margin: 1px;
}

.redes a{
    text-decoration: none;
    font-size: 1rem;
    margin-left: 15px;
    color: black;
}

.redes a:hover{
    cursor: pointer;
    background-color: #E8CFD2;
}

footer{
    width: 100%;
    height: 20px;
}

#creditos-footer{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: #E8CFD2;
    color: black;
    text-align: center;
}


/* Medias */
@media screen and (max-width:400px) {
    #menu-lista{
        display: none;
    }

    #header-foto{
        margin-left: 110px;
        margin-top: 50px;
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        border: 1px solid blue;
    }

    #header-texto{
        height: 80%;
        padding-top: 10%;
        text-align: center;
        /* margin: auto; */
    }

    #sobre-texto{
        width: 80%;
        padding-top: 30px;
        text-align: justify;
        margin: auto;
    }

    .curriculo2{
        width: 90%;
        height: 300px;
        margin: auto;
        background-color: #FCF6F8;
        text-align: center;
    }


    #currico-aberto{
        display: none;
    }

    #baixar{
        margin-left: 0px;
        text-align: center;
    }

    #baixar ul{
        width: 80%;
        margin-left: 15px;
        text-align: center;
    }

    #projetos-divs{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        /* margin-left: 80px; */
    }

    .projetos{
        display: block;
        width: 300px;
        height: 50vh;
        flex-direction: row;
        padding: 10px;
        margin: 15px;
        border: 1px solid black;
        border-radius: 15px;
    }

    .conexao{
        width: 100%;
        height: 1150px;
        background-color: #C9A9AE;
        /* display: flex; */
    }

    .contato{
        text-align: center;
        padding-top: 20px;
    }

    .redes{
        margin: auto;
        text-align: center;
    }

    footer{
        width: 100%;
        height: 20px;
    }
    
    #creditos-footer{
        width: 100%;
        height: 40px;
        margin-top: 5px;
        background-color: #E8CFD2;
        color: black;
        text-align: center;
    }
    
}

@media screen and (min-width:800px) {
    .header-fundo{
        display: flex;
    }

    #header-foto{
        display: flex; 
        width: 25%;
        height: 80%;
        transform: rotate(7deg);
    }
    
    #header-foto img{
        transform: rotate(-7deg);
    }
    
    #header-texto{
        width: 50%;
        height: 30%;
    }

    #header-texto p{
        font-size: 26px;
    }

    #header-texto i{
        font-size: 36px;
    }
    
    #header-texto h1{
        font-weight: 100;
    }

    .sobre{
        height: 400px;
        /* padding-left: 140px; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #sobre-texto{
        width: 30%;
        text-align: justify;
        margin-right: 10%;
    }

    #sobre-img{
        display: flex;
    }
    
    #sobre-img img{
        border-radius: 50%;
        flex-direction: row;
    }

    .skils{
        display: flex;
        justify-content: center;
    }

    .habilidades{
        width: 40%;
    }

    .competencias{
        width: 40%;
    }

    .curriculo{
        display: flex;
    }
    
    #currico-aberto{
        padding-top: 20px;
        width: 60%;
        height: 100%;
        margin: auto;
    }

    #baixar{
        width: 30%;
    }

    #baixar ul{
        width: 80%;
        margin-left: 30px;
        text-align: center;
    }

    .curriculo2{
        width: 100%;
        height: 600px;
        margin: auto;
        padding: 10px;
        background-color: #FCF6F8;
        text-align: center;
    }

    #projetos-divs{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .projetos{
        display: block;
        width: 300px;
        height: 50vh;
        flex-direction: row;
        padding: 10px;
        margin: 15px;
        border: 1px solid black;
        border-radius: 15px;
    }

    #certificados-div{
        width: 30%;
        height: 100px;
    }

    .conexao{
        width: 100%;
        background-color: #C9A9AE;
        display: flex;
    }

    .forms{
        width: 50%;
        padding: 10px;
        border: 1px solid black;
    }

    .contato{
        width: 40%;
        padding: 5px;
        margin: auto;
        text-align: center;
    
    }

}
