*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

#conteudo{
    width: 100%;
    height: 100vh;
<<<<<<< HEAD
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteudo{
    height: 100%;
}


nav{
    width: 100%;
    height: 20%;
    background-color: #FCF6F8; 
    display: flex;
}

#menu-logo{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 5%;
}

#menu-lista{
    width: 50%;
    margin-top: 60px;
}

#menu-lista li{
    list-style: none;
    display: inline;
    margin-left: 30px;
=======
>>>>>>> ee06bf7f024a373bc320b69f47c9c4a4460ce463
}

header{
    width: 100%;
    height: 100px;
    background-color: #FCF6F8;
}

<<<<<<< HEAD
.header-fundo{
    height: 80%;
    width: 100%;
    padding-top: 5%;
=======
#imagem-header{
    display: inline-block;
    position: absolute;
    margin-left:5% ;
    margin-top: 0.5% ;
    width: 8%;
    height: 10%;
}

nav{
    float: right;
    margin-right: 5%;
    margin-top: 1%;
}

header nav ul{
    display: flex;
    list-style: none;
    width: 40%;
}

nav li{
    float: left;
    padding: 20px 10px 20px 10px;
}

nav a{
    text-decoration: none;
    color: black;
}

#inicio{
    width: 100%;
    height: 80%;
    background-color:#C9A9AE;
    display: flex;
>>>>>>> ee06bf7f024a373bc320b69f47c9c4a4460ce463
    margin: auto;
    background-image:url('./imagens/portifolio\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 1px solid #C9A9AE;
<<<<<<< HEAD
    justify-content: center;
}

#header-foto{
    width: 40%;
    padding: 5px;
    margin-top:10px;   
    margin-left:10%;
    background-color: #f0f0f0;
}

#header-texto{
    text-align: center;
    margin: auto;
}

header a{
    text-decoration: none;
    color: black;
}

.sobre{
    /* background-color: #FCF6F8;  */
    width: 100%;
    /* height: 800px; */
}

/* #sobre-img{
    display: flex;
    width: 50%;
    height: 100%;
}

#sobre-img img{
    border-radius: 50%;
    width: 60%;
} */


/* Animação habilidades */
.habilidades{
    background-color: #FCF6F8;
    padding: 9px;
    border-radius: 9px;
    margin: 50px 40px;
    box-shadow: 0 14px 20px;
}

.habilidades h2{
    text-align: center;
}

.habilidades h3{
    margin: 5px;
}

.habilidades li {
    padding: 9px;
    margin: 10px 0;
    list-style: none;
}

.bar{
    background-color: whitesmoke;
    display: block;
    height: 22px;
    border: 1px solid rgb(0, 0, 0.3);
    transition: all 0.3 cubic-bezier(.25, .8, .25, 1);
}

.bar:hover{
    box-shadow: 0 14px 3px rgb(0,0, 0, 0.25), 0 10px 10px rgb(0,0, 0, 0.25);
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, #C9A9AE, rgb(233, 224, 232)100%);
}

.html{
    width: 90%;
    animation: html 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

.css{
    width: 70%;
    animation: css 3s;
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.js{
    width: 50%;
    animation: js 3s;
}

@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

.python{
    width: 60%;
    animation: python 3s;
}

@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

.java{
    width: 40%;
    animation: java 3s;
}

@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}

.competencias{
    width: 40%;
    background-color: #FCF6F8;
    padding: 9px;
    border-radius: 9px;
    margin: 50px 40px;
    box-shadow: 0 14px 20px;
}

/* Medias */
@media screen and (max-width:400px) {
    #menu-lista{
        display: none;
    }

    #header-foto{
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        border: 1px solid blue;
    }

    #header-texto{
        height: 30%;
        padding-top: 10%;
        text-align: center;
        margin: auto;
    }

    #sobre-texto{
        width: 40%;
        text-align: justify;
    }
    
}

@media screen and (min-width:800px) {
    .header-fundo{
        display: flex;
    }

    #header-foto{
        display: flex; 
        width: 20%;
        transform: rotate(7deg);
    }
    
    #header-foto img{
        transform: rotate(-7deg);
    }
    
    #header-texto{
        width: 50%;
        height: 30%;
    }

    #header-texto p{
        font-size: 26px;
    }
    
    #header-texto h1{
        font-weight: 100;
    }

    .sobre{
        height: 400px;
        /* padding-left: 140px; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #sobre-texto{
        width: 30%;
        text-align: justify;
        margin-right: 10%;
    }

    #sobre-img{
        display: flex;
    }
    
    #sobre-img img{
        border-radius: 50%;
        flex-direction: row;
    }

    .skils{
        display: flex;
        justify-content: center;
    }

    .habilidades{
        width: 40%;
    }
}
=======
    padding-top: 10%;
    /* margin: auto; */
    justify-content: center;
}


#img-inicio{
    display: block;
    width: 80%;
    height: 50%;
    border-radius: 50px;
}

#txt-inicio{
    width: 50%;
}

@media screen and (max-width:400px) {
    nav li{
        display:none ;
    }

    #imagem-header{
        margin-top: 0.5% ;
        width: 30%;
        height: 30%;
    }

}
>>>>>>> ee06bf7f024a373bc320b69f47c9c4a4460ce463
