*{
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteudo{
    height: 100%;
}

@media screen and (max-width: 1200px){
    nav ul{
        display: none;
    }
}

nav{
    width: 100%;
    height: 20%;
    background-color: #FCF6F8; 
    display: flex;
}

#menu-logo{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 5%;
}

#menu-lista{
    width: 50%;
    margin-top: 60px;
}

#menu-lista li{
    list-style: none;
    display: inline;
    margin-left: 30px;
}

header{
    width: 100%;
    height: 80%;
    background-color:#C9A9AE;
}

.header-fundo{
    display: flex;
    margin: auto;
    background-image:url('./imagens/portifolio\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #C9A9AE;
    height: 80%;
    width: 100%;
    padding-top: 10%;
    margin: auto;
    justify-content: center;
}

#header-foto{
    display: flex;
    width: 20%;
    height: 80%;
    padding-right: 5%;
    transform: rotate(-15deg);
}

#header-texto{
    width: 50%;
    height: 50%;
    padding-top: 10%;
    text-align: center;
}

#header-texto p{
    font-size: 26px;
}